body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, rgb(194, 3, 223),rgb(199, 216, 6));
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card {
    font-size: 32px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 70px;
    border: 5px solid black;
    border-radius: 50px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        background-color: rgb(7, 171, 1);
    }

    50% {
        background-color: rgb(10, 6, 209);
    }

    100% {
        transform: rotate(360deg);
        background-color: rgb(7, 171, 1);
    }
}

@keyframes transfer {
    0% {
        transform: translateX(0px) rotate(0deg);
        background-color: pink;
    }

    50% {
        transform: translateX(800px) rotate(360deg);
        background-color: rebeccapurple;
    }

    100% {
        transform: translateX(0px) rotate(720deg);
        background-color: pink;
    }
}

.animated-box {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 5px;
    animation: spin 2s 0s infinite linear;
    display: flex;
    margin: 20px auto;
}

.transferred-box {
    width: 100px;
    height: 100px;
    background-color: white;
    animation: transfer 1.5s 0s infinite linear;
}